<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="user_nav">
      <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. This cannot be cheese?
            <%= link_to "Logout", destroy_user_session_path, data: {
              turbo_method: :delete,
              turbo_confirm: "Estas seguro de cerrar sesion?"
              } %>
      <% else %>
          <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
